/* 改变主题色变量 */
$--color-primary: #F6924D;
$--color-primary-opacity: rgba(246, 146, 77, 0.08);
/*首页顶部颜色*/
$--color-head: #F6924D;

$--slider-scale: var(--sliderScale);


///* 改变主题色变量 */
//$--color-primary: #e82a22;
////配色
//$--color-head:linear-gradient(90deg,#e82a22,#fca771);; //养老

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

.el-button {
  padding: 7px 15px;
  text-align: center;
  font-size: 13px;
  // white-space: normal;
}

.el-button--text {
  font-size: 14px;
  word-break: break-all;
}

.el-button--text + .el-button--text {
  margin-left: 0;
}

.el-pagination {
  padding: 10px 0;
  text-align: right;
}

.el-radio {
  margin-top: 5px;
  margin-bottom: 5px;
}

.el-drawer__wrapper {
  width: calc(100% - 210px) !important;
  height: auto !important;
  top: 95px !important;
  right: 0;
  bottom: 0;
  left: 210px;
  border-top: 10px solid #F3F5F7;
  box-shadow: none;
}

.el-drawer {
  width: 100% !important;
  padding: 0 40px 0 20px;
}

.el-drawer__header {
  font-size: 18px;
  color: #000;
  font-weight: 600;
  margin-bottom: 20px;
}

.el-menu {
  border-right: none !important;
}

.el-submenu__title:hover {
  background: $--color-primary-opacity !important;
  color: $--color-primary !important;
}

.el-menu-item:hover {
  background: $--color-primary-opacity !important;
  color: $--color-primary !important;
}

.el-menu-item.is-active {
  background: $--color-primary-opacity !important;
  border-left: 3px solid $--color-primary;
  border-radius: 0 4px 4px 0;
}

.el-input__inner {
  // width: 150px;
  height: 35px;
  text-align: left !important;
}

.el-input__icon {
  line-height: 35px;
}

// .el-input-number__decrease, .el-input-number__increase {
//   display: none;
// }

.el-input-number {
  width: 100%;
}

.el-select {
  width: 100%;
}

.el-date-editor {
  width: 100%;
}

.el-cascader {
  width: 100%;
}

.el-form-item__label {
  white-space: nowrap;
}

.el-tabs__item {
  font-size: 18px !important;
}

.el-message-box__btns {
  .el-button {
    display: inline !important;
  }
}

:deep(.el-step__description.is-success) {
  color: $--color-primary !important;
}

:deep(.el-step__head.is-success) {
  color: $--color-primary !important;
  border-color: $--color-primary !important;
}

:deep(.el-step__title.is-success) {
  color: $--color-primary !important;
}


:deep(.el-step__description.is-process) {
  color: #C0C4CC !important;
}

:deep(.el-step__head.is-process) {
  color: #C0C4CC !important;
  border-color: #C0C4CC !important;
}

:deep(.el-step__title.is-process) {
  color: #C0C4CC !important;
  font-weight: normal !important;
}
.table-btn-box{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.el-slider {
  transform: scale($--slider-scale) !important;
}

/deep/  .el-range-separator{
  line-height: 29px !important;
}

/deep/  .el-date-editor .el-range__icon{
  line-height: 29px !important;
}
